// Global Variables
@import "calendar-renderer-global-variables"

// Buttons to toggle from Week to Month view
.views-container
  justify-content: flex-end
  align-items: center
  #views-label
    margin-right: 0.75rem

// Title and nav for month view of calendar
.month-dates-container
  flex-direction: inherit
  display: flex
  .month-dates-title
    display: inherit
    justify-content: center
  .month-dates-nav
    li
      flex-basis: 33vw
    #month-dates-nav-prev
      text-align: left
    #month-dates-nav-current
      text-align: center
    #month-dates-nav-next
      text-align: right

// Date cells in month view
.month-dates-body
  div
    @media (prefers-color-scheme: dark)
      border: 1px solid invert($background-dark-mode, $invertPerc)
    @media (prefers-color-scheme: light)
      border: 1px solid black
    margin-top: -1px
    margin-left: -1px
    height: 14.3vh
    min-height: 70px
    min-width: 70px
    span
      margin: 0.5rem 0 0 0.5rem
      font-weight: bold
    .today
      border-radius: 100%
      height: 1.25em
      @media (prefers-color-scheme: dark)
        background: scale-color(blue, $lightness: 50%)
        border: 1px solid scale-color(blue, $lightness: 55%)
        color: $background-dark-mode
      @media (prefers-color-scheme: light)
        background: blue
        border: 1px solid scale-color(blue, $lightness: -40%)
        color: scale-color(blue, $lightness: 90%)

// Appointment items
.month-dates-body-appointments
  padding: 0 0.6rem 0 0.4rem
  white-space: nowrap
  overflow: hidden
  flex-direction: column
  li
    overflow: hidden
    margin: 0.1em 0
    min-height: 1.1em
