// Font size
$font-size: 1.6rem

// Dark mode support
$background-light-mode: white
$background-dark-mode: black
$invertPerc: 85%

// Custom colors
$darkteal: rgb(0, 128, 128)
$darkorange: rgb(204, 82, 0)

// Variables for appointment <li>s
$apptColors: green, $darkorange, mediumvioletred, purple, $darkteal
//* If $apptColors has more colors than $numOfApptColors, the output will
    be looped according to the value in $numOfApptColors */
$numOfApptColors: 5