// Global Variables
@import "calendar-renderer-global-variables"

// Title and nav for month view of calendar
.week-dates-container
  flex-direction: column
  .week-dates-title
    display: inherit
    justify-content: center
  .week-dates-nav
    display: flex
    li
      flex-basis: 33vw
    #week-dates-nav-prev
      text-align: left
    #week-dates-nav-current
      text-align: center
    #week-dates-nav-next
      text-align: right

.week-dates-body
  div:first-of-type
    border: none
  > div
    @media (prefers-color-scheme: dark)
      border: 1px solid invert($background-dark-mode, $invertPerc)
    @media (prefers-color-scheme: light)
      border: 1px solid black
    margin-left: -1px
    flex-direction: column
    position: relative
    span
      text-align: center

#week-dates-body-times
  flex-shrink: 2
  span
    padding-top: 1px
  ul
    flex-direction: column
    li
      height: $clampHeight
      border-top: 1px dashed white

.week-dates-body-appointments
  display: flex
  position: absolute
  top: 1.66667em
  right: 0
  bottom: 0
  left: 0
  ul
    overflow: hidden
    height: 100%
    flex-direction: column
    li
      overflow: hidden
      padding-left: 0.5rem
      padding-right: 0.5rem

.week-dates-body-time-borders
  flex-direction: column
  li
    height: $clampHeight
    border-top: 1px dashed scale-color(white, $lightness: -60%)

// Appointment sizing (apt#, start, duration)
@include weekApptSchedule(1, 135, 45)
@include weekApptSchedule(2, 240, 120)

.today
  @media (prefers-color-scheme: dark)
    background: scale-color(blue, $lightness: 50%)
    color: $background-dark-mode
  @media (prefers-color-scheme: light)
    background: blue
    color: scale-color(blue, $lightness: 90%)

// Colors for appointment <li>s
@for $child from 1 through $numOfAppts
  .week-colorize-appointments
    li:nth-of-type(#{$child})
      color: scale-color(nth($apptColors, ($child - 1) % $numOfApptColors + 1), $lightness: 90%)
      background-color: nth($apptColors, ($child - 1) % $numOfApptColors + 1)
