// Month and Week Views
@use 'calendar-renderer/calendar-renderer-month-view'
@use 'calendar-renderer/calendar-renderer-week-view'

// Global Variables
@import "calendar-renderer/calendar-renderer-global-variables"

// Base styles
// Boilerplate
*,
*::after,
*::before
  margin: 0
  padding: 0
  box-sizing: inherit

html
  font-size: 62.5%

body
  font-family: "Lato", sans-serif
  font-weight: 400
  font-size: $font-size
  line-height: 1.7
  padding: 3rem
  box-sizing: border-box

// End of Boilerplate

body
  @media (prefers-color-scheme: dark)
    background-color: $background-dark-mode
    color: invert($background-dark-mode, $invertPerc)
  @media (prefers-color-scheme: light)
    background-color: $background-light-mode
    color: black

ul
  padding-inline-start: 0
  list-style-type: none
  display: flex

div
  display: flex

button
  padding: 0 0.5rem
  font-family: "Lato", sans-serif
  font-weight: 400
  font-size: $font-size
  line-height: 1.7
  box-sizing: border-box

// Entire calendar container
.calendar-container
  display: flex
  flex-direction: column
  .month-dates-body
    display: flex
  .views-container
    display: flex


// Horizontal spacing class
.layout-flex-row
  flex-direction: row
  width: 85vw
  margin-left: auto
  margin-right: auto
  div
    flex-basis: 14.3vw

// Sun - Sat headers
.dates-header
  margin: .5rem auto
  font-weight: bold
  list-style-type: none
  display: flex
  li
    text-align: center
    flex-basis: 14.3vw

// Sun - Sat headers for week view, couldn't put it in week view sass
.week-dates-header
  @extend .dates-header
  li:first-child
    flex-shrink: 2
.is-hidden
  display: none !important

