<%- include('../../partials/header', { title: title }) %>
<%- include('../../partials/navbar') %>

<h3>Appointments:</h3>
<% for (const entry of cal) { %>
<%= entry.start() %> <br>
<% } %>

<%- include('../../partials/footer') %>