<%- include('../partials/header', { title: title }) %>
<%- include('../partials/navbar') %>

<h1>Homepage</h1>
<p>Welcome to the homepage, let's get this shit going!!!</p>

<%- include('../partials/footer') %>